<div class="container-xl px-4 mt-4">

    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link ms-0" [routerLinkActive]="['/profile']">Profile</a>
        <a class="nav-link ms-0" [routerLinkActive]="['/purchase-history']">Orders</a>
    </nav>

    <hr class="mt-0 mb-4">

    <div class="row">
        <div class="col-xl-4">

            <app-profile-picture></app-profile-picture>

        </div>
        <div class="col-xl-8">

            <app-account-details></app-account-details>

        </div>
    </div>
</div>

<!-- edit password -->

    
