HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Binaries ###
/bin/
/target/

### Node build ###

# Angular files
src/main/resources/public/new/

# Binaries
target
bin

launch_dev_backend