version: "3.8"
services:
    softwear:
        image: mariorp01/codeurjc-daw-2021-22-webapp5b
        environment:
            - PORT=8443
            - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres/softwear
            - MAILER_EMAIL=${MAILER_EMAIL}
            - MAILER_PASS=${MAILER_PASS}
        ports:
            - 8443:8443
        depends_on:
            - postgres
        restart: always
    postgres:
        image: postgres:14.2
        environment:
            - POSTGRES_DB=softwear
            - POSTGRES_PASSWORD=password

networks:
    default:
        name: softwear-network