<tr *ngIf="product.quantity > 0" id="product_{{product.id}}" class="product-row">

    <td class="cart-text product-index">{{index + 1}}</td>

    
    <td><a href="/productView/{{product.id}}" class="btn border-0">{{product.name}} ({{product.size}})</a></td>
    
    <td class="cart-text product-unit-price">${{product.price}}</td>


    <td class="text-center" style="width: 60px;">
        <button class="btn btn-block btn-sm btn-outline-dark fw-bold" (click)="addProduct()" type="button">+</button>
    </td>

    <td class="cart-text text-center product-quantity">{{product.quantity}}</td>

    <td class="text-center" style="width: 60px;">
        <button class="btn btn-block btn-sm btn-outline-dark fw-bold" (click)="deleteProduct()" type="button">-</button>
    </td>

    <td class="cart-text text-right product-total-price">${{product.quantity*product.price}}</td>

    <td class="text-right">
        <button class="btn btn-outline-dark fw-bold" (click)="deleteAllOfProduct()" type="button">Delete</button>
    </td>
    
    <td></td>
    <td></td>
</tr>
