<div class="mx-auto">
    <div class="card-login border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
            <div class="container">

                <!--  Title -->
                <div class="row">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                </div>

                <div class="row">
                    <form>

                        <!-- Username -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Username" name="username" 
                                    id="signInUsername" [(ngModel)]="username" required>

                            <label for="signInUsername">Username</label>
                            <p *ngIf="isWrong == true">
                                <ngb-alert [dismissible]="false">
                                  <strong>nooo</strong> Rellénelos antes de continuar.
                                </ngb-alert>
                            </p>
                        </div>

                        <!-- Password -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                    id="signInPassword" name="signInPassword" [(ngModel)]="password" required>

                            <label for="signInPassword">Password</label>  
                        </div>

                        <!-- Send Form -->
                        <div class="d-grid">
                            <button class="btn btn-outline-dark btn-login text-uppercase fw-bold"
                                    type="submit" (click)="signIn()">Sign in
                            </button>
                            <p *ngIf="isEmpty == true">
                                <ngb-alert [dismissible]="false">
                                  <strong>¡Campos vacíos!</strong> Rellénelos antes de continuar.
                                </ngb-alert>
                            </p>
                        </div>

                        <input type="hidden" name="_csrf" value="token"/>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
