<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">  <!-- bg-light -->
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/"><img src="../assets/full-logo-new.svg" style = "width: 5vw"></a>
        <div *ngIf="logged" class="nav-item user-icon-small-screen dropdown">
            <a class="nav-link dropdown-toggle" id="session-small-Dropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><img src="../assets/user-icon.png" class="user-icon" style = "width: 3vw"></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/userProfile">Profile</a></li>

                <li *ngIf="isAdmin"><a class="dropdown-item" href="/admin/home">Admin Panel</a></li>

                <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <a class="dropdown-item" href="/logout" onclick="logOut()">Log Out</a>
                </li>
            </ul>
        </div>
        

        <a *ngIf="!logged" class="navbar-brand-2 user-icon-small-screen" href="./login"><img src="../assets/user-icon.png" class="user-icon" style = "width: 3vw"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex cart-icon">
                <a class="btn btn-outline-dark" href="/cart">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill cart-items-number">{{nCartItems}}</span>
                </a>
            </form>
            
        </div>
        <div *ngIf="logged">
            <div class="nav-item user-icon-big-screen dropdown">
                <a class="nav-link dropdown-toggle" id="sessionDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><img src="../assets/user-icon.png" class="user-icon" style = "width: 3vw"></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/userProfile">Profile</a></li>
                    
                    <li *ngIs="isAdmin"><a class="dropdown-item" href="/admin/home">Admin Panel</a></li>

                    <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="/logout" onclick="logOut()">Log Out</a>
                    </li>
                </ul>
                
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">{{username}}</li>
            </ul>
        </div>

        <a *ngIf="!logged" class="navbar-brand-2 user-icon-big-screen" href="/login"><img src="../assets/user-icon.png" class="user-icon" style = "width: 3vw"></a>

    </div>
</nav>