<!-- modal header -->
<div class="modal-header">
    <h4 class="modal-title">Change password</h4>
</div>

<!-- form -->
<form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">

    <!-- modal body -->
    <div class="modal-body">
        
        <div class="form-container">
            <div class="form-floating mb-3">
                
                <input type="password" 
                    class="form-control"
                    formControlName="oldPassword"
                    placeholder="Old Password"
                    required>       

                <label for="oldPassword">Previous Password</label>                      
            </div>

            <div class="form-floating mb-3">
               
                <input type="password" 
                    class="form-control"
                    formControlName="password1"
                    placeholder="New Password"
                    required>    
                
                <label for="password1">New Password</label>
            </div>

            <div class="form-floating mb-3">

                <input type="password" 
                    class="form-control"
                    formControlName="password2"
                    placeholder="Repeat New Password"
                    required>   
                    
                <label for="password2">Repeat New Password</label>    
            </div>
        </div>

    </div>

    <!-- modal footer -->
    <div class="modal-footer">

        <div class="row">
            <button class="btn btn-outline-dark btn-success text-uppercase fw-bold"
                [disabled]="!changePasswordForm.valid">

                Confirm
            </button>
        </div>

        <div class="row">
            <button class="btn btn-outline-dark text-uppercase fw-bold"
                (click)="closeModalChangePassword()">

                Cancel
            </button>
        </div>
    </div>

</form>

