<div class="product-column container">

    <div class="row">

        <!-- title -->
        <h1 class="softFont product-name">{{product.name}}</h1>
    
        <hr>

        <!-- size availability -->
        <div class="row">

        </div>

        <!-- pick-size -->
        <div class="pick-size row">

        </div>

        <!-- product description -->
        <div class="row">
            <p class="product-description">{{product.description}}</p>
        </div>

        <!-- interact with transaction -->
        <div class="form-group" *ngIf="isLogged(); else login">

            <div class="row">
                <!-- Button to add in cart -->
                <div id="fav-btn" class="col-1 btn btn-outline-dark p-1 mx-1"
                [class.bg-dark]="isPresent"
                [class.text-white]="isPresent"
                (click)="toogleWishlist()">
                    <fa-icon [icon]="faHeart" class="fa-2x"></fa-icon>
                </div>

                <!-- Button to add in cart -->
                <button id="cart-btn" class="col-8 btn btn-outline-dark text-uppercase fw-bolder" 
                    [disabled]="(quantity.invalid)" 
                    (click)="addToCart()">

                    <i class="bi-cart-fill"> Add to cart</i>
                </button>

                <!-- input to set the amount -->
                <div class="col-2">
                    <input class="rounded w-100 h-100 border-dark text-center softFont fw-bold form-control"
                    #quantity="ngModel"
                    name="quantity"                       
                    type="number"
                    id="amount"
                    min="1"
                    [max]="stock"
                    [(ngModel)]="amount" 
                    required>
                </div>
            </div>
            
            <!-- Alertas -->
            <div></div>
            
        </div>

        <ng-template #login>
            <div class="row">
                <a class="col btn btn-outline-dark text-uppercase" [routerLink]="['/login']">Sign in</a>
            </div>
        </ng-template>
    </div>
</div>
