<div class="product-column container">

    <div class="row">

        <!-- title -->
        <h1 class="softFont product-name">{{product.name}}</h1>
    
        <hr>

        <!-- size availability -->
        <div class="row">

        </div>

        <!-- pick-size -->
        <div class="pick-size row">

        </div>

        <!-- product description -->
        <div class="row">
            <p class="product-description">{{product.description}}</p>
        </div>

        <!-- interact with transaction -->

        <span *ngIf="isLogged()">

                <div class="row">
                    <!-- Button to add in cart -->
                    <div id="fav-btn" class="col-1 btn btn-outline-dark p-1 mx-1" 
                    (click)="addToWishlist()">
                        <fa-icon [icon]="faHeart" class="fa-2x"></fa-icon>
                    </div>

                    <!-- Button to add in cart -->
                    <button id="cart-btn" class="col-8 btn btn-outline-dark text-uppercase fw-bolder" 
                        [disabled]="!amount.valid" 
                        (click)="addToCart()">

                        <i class="bi-cart-fill"> Add to cart</i>
                    </button>

                    <!-- input to set the amount -->
                    <div class="col-2">
                        <input class="rounded w-100 h-100 border-dark text-center softFont fw-bold form-control"
                        formControlName="amount" 
                        type="number"
                        id="quantity"
                        min="1"
                        value="1">
                    </div>
                </div>
                
            <div id="msg-label" class="row softFont my-2 p-1">

            </div>
        </span>
    </div>
</div>
