{{>adminHeader}}
        <!-- Section-->
        <section class="py-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-8 align-self-center">
                        <canvas id="Earnings" width="auto" height="auto"></canvas>
                    </div>
                    <div class="col-4 align-self-center">
                        <h2>Earnings</h2> 
                        <p>Total earnings: 3.000.000 $</p>
                        <p>Most profitable product</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 align-self-center">
                        <canvas id="Sales" width="auto" height="auto"></canvas>
                    </div>
                    <div class="col-4 align-self-center">
                        <h2>Sales</h2> 
                        <p>Total sales: 6.720.000 $</p> 
                        <p>Most popular product</p> 
                    </div>
                </div>   
            </div>
        </section>
{{>footer}}