{{>header}}

        <div class="card mb-4 shadow-sm" style="border: 1px solid rgba(114, 114, 114, 0.26); margin: 30px; border-radius: 5px;">
            <div class="card-header">
                <div class="row">
                    <div class="col-11"><h2 class="softFont">Cart</h2></div>
                    <div class="col-1">
                        <form action="/cart/empty" method="post">
                            <button class="btn btn-outline-dark fa-solid fa-trash" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody class="cart">
                    {{#cart}}
                    {{#transactionEntries}}
                    <tr>
                        <td>#{{-index}}</td>
                        {{#product}}
                        <td>{{name}}</td>
                        <td>${{price}}</td>
                        <td style="width: 60px;">
                            <form action="/cart/add" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button class="btn btn-block btn-sm btn-outline-dark fw-bold" type="submit">+</button>
                            </form>
                        </td>
                        <td class="text-right">{{quantity}}</td>
                        <td style="width: 60px;">
                            <form action="/cart/delete" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button class="btn btn-block btn-sm btn-outline-dark fw-bold" type="submit">-</button>
                            </form>
                        </td>
                        <td class="text-right">${{totalPrice}}</td>
                        <td class="text-right">
                            <form action="/cart/deleteAll" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button class="btn btn-outline-dark fw-bold" type="submit">Delete</button>
                            </form>
                        </td>
                        {{/product}}
                    </tr>
                    {{/transactionEntries}}
                    {{#coupon}}
                    <tr>
                        <td></td>
                        <td class="text-right">Discount coupon "{{code}}":</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">-${{discount}}</td>
                    </tr>
                    {{/coupon}}
                    {{/cart}}
                    </tbody>
                    <tfoot>
                    <tr><td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">Total: <strong class="total">${{totalPrice}}</strong></td>
                        <form action="/cart/applyCoupon" method="post">
                            <td>Discount code:</td>
                            <td><input type="text" class="form-control form-control-sm" placeholder="Enter your discount code..." name="code" value="{{#coupon}}{{code}}{{/coupon}}"/></td>
                            <td><button type="submit" class="btn btn-outline-dark">Apply</button></td>
                        </form>
                    </tr>
                    {{#wrongCoupon}}
                    <tr><td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="col-form-label">Wrong Coupon Code</td>
                    </tr>
                    {{/wrongCoupon}}
                    </tfoot>
                </table>
                <div style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
                <i class="btn btn-outline-dark checkout-btn fa-brands fa-paypal"></i>
                <i class="btn btn-outline-dark checkout-btn fa-brands fa-cc-amazon-pay"></i>
                <i class="btn btn-outline-dark checkout-btn fa-solid fa-credit-card"></i>
                </div>
            </div>
        </div>

{{>footer}}