{{>header}}

    <div class="card mb-4 shadow-sm" style="border: 1px solid rgba(114, 114, 114, 0.26); margin: 30px; border-radius: 5px;">
        <div class="card-header">
            <div class="row">
                <div class="col-11"><h2 class="softFont">Cart</h2></div>
                <div class="col-1">
                    <button class="btn btn-outline-dark fa-solid fa-trash" onclick="emptyCart()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody class="cart">
                {{#cart}}
                {{#transactionEntries}}
                <tr id="product_{{product.id}}" class="product-row">
                    <td class="cart-text product-index">#{{-index}}</td>
                    {{#product}}
                    <td>
                        <a href="/productView/{{id}}" class="btn border-0">{{name}} ({{size}})</a>
                    </td>
                    <td class="cart-text product-unit-price">${{price}}</td>
                    <td class="text-center" style="width: 60px;">
                        <button class="btn btn-block btn-sm btn-outline-dark fw-bold" onclick="addProduct({{id}}, 1)" type="button">+</button>
                    </td>
                    <td class="cart-text text-center product-quantity">{{quantity}}</td>
                    <td class="text-center" style="width: 60px;">
                        <button class="btn btn-block btn-sm btn-outline-dark fw-bold" onclick="deleteProduct({{id}}, 1)" type="button">-</button>
                    </td>
                    <td class="cart-text text-right product-total-price">${{totalPrice}}</td>
                    <td class="text-right">
                        <button class="btn btn-outline-dark fw-bold" onclick="deleteAllOfProduct({{id}})" type="button">Delete</button>
                    </td>
                    <td></td>
                    <td></td>
                    {{/product}}
                </tr>
                {{/transactionEntries}}
                {{#coupon}}
                <tr class="cart-coupon-row">
                    <td></td>
                    <td class="cart-text text-right coupon-name">Discount coupon "{{code}}"</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="cart-text text-right coupon-discount">-${{discount}}</td>
                    <td class="text-right">
                        <button class="btn btn-outline-dark fw-bold" onclick="removeCoupon()" type="button">Delete</button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                {{/coupon}}
                </tbody>
                <tfoot>
                <tr id="apply-coupon">
                    <td></td>
                    <td class="cart-text">Total</td>
                    <td></td>
                    <td></td>
                    <td class="cart-text text-center cart-items-number">{{nCartItems}}</td>
                    <td></td>
                    <td class="cart-text text-right"><strong class="total cart-total-price">${{totalPrice}}</strong></td>
                    <td class="cart-text text-center">Discount code:</td>
                    <td id="coupon-code"><input type="text" class="form-control form-control-sm" placeholder="Enter your discount code..." name="code" value="{{#coupon}}{{code}}{{/coupon}}"/></td>
                    <td><button type="button" class="btn btn-outline-dark" onclick="applyCoupon()">Apply</button></td>
                </tr>
                {{/cart}}
                <tr id="wrong-coupon">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="col-form-label"><div class="rounded p-1 text-center text-white bg-danger">Wrong Coupon</div></td>
                    <td></td>
                </tr>
                <tr id="valid-coupon">
                    <td></td>
                    <td class="cart-text">Total</td>
                    <td></td>
                    <td></td>
                    <td class="cart-text text-center cart-items-number">{{nCartItems}}</td>
                    <td></td>
                    <td class="text-right"><strong class="total cart-total-price">${{#cart.coupon}}{{totalPrice}}{{/cart.coupon}}</strong></td>
                    <td></td>
                    <td class="col-form-label"><div class="rounded p-1 text-center text-white bg-success">Valid Coupon</div></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
            <div style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
                <a class="btn btn-outline-dark checkout-btn fa-brands fa-paypal" href="/cart/pay"></a>
                <a class="btn btn-outline-dark checkout-btn fa-brands fa-cc-amazon-pay" href="/cart/pay"></a>
                <a class="btn btn-outline-dark checkout-btn fa-solid fa-credit-card" href="/cart/pay"></a>
            </div>
        </div>
    </div>
    <script src="js/cart.js"></script>

{{>footer}}