{{>header}}

        <div class="card mb-4 shadow-sm" style="border: 1px solid rgba(114, 114, 114, 0.26); margin: 30px; border-radius: 5px;">
            <div class="card-header">
                <h2 class="softFont">Cart</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody class="cart">
                    {{#cart}}
                    {{#transactionEntries}}
                    <tr>
                        <td>#{{-index}}</td>
                        {{#product}}
                        <td>{{name}}</td>
                        <td>{{quantity}}</td>
                        <td style="width: 60px;">
                            <form action="/cart/add" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button class="btn btn-block btn-sm btn-outline-dark fw-bold" type="submit">+</button>
                            </form>
                        </td>
                        <td style="width: 60px;">
                            <form action="/cart/delete" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button class="btn btn-block btn-sm btn-outline-dark fw-bold" type="submit">-</button>
                            </form>
                        </td>
                        <td class="text-right">${{price}}</td>
                        <td class="text-right">
                            <form action="/cart/deleteAll" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button class="btn btn-outline-dark fw-bold" type="submit">Delete</button>
                            </form>
                        </td>
                        {{/product}}
                    </tr>
                    {{/transactionEntries}}
                    {{/cart}}
                    </tbody>
                    <tfoot>
                        <tr><td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">Total: <strong class="total">${{totalPrice}}</strong></td>
                        <td>Discount code:</td>
                        <td><input type="text" class="form-control form-control-sm" placeholder="Enter your discount code..."/></td>
                        <td><button type="submit" class="btn btn-outline-dark">Apply</button></td>
                    </tr></tfoot>
                </table>
                <div style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
                <i class="btn btn-outline-dark checkout-btn fa-brands fa-paypal"></i>
                <i class="btn btn-outline-dark checkout-btn fa-brands fa-cc-amazon-pay"></i>
                <i class="btn btn-outline-dark checkout-btn fa-solid fa-credit-card"></i>
                </div>
            </div>
        </div>

{{>footer}}