{{>adminHeader}}
        <!-- Section-->
        <section class="py-5">
            <div class="container" id="manage-users-container">
                <!-- Table-->
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">user ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Birth Date</th>
                            <th scope="col">Role</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#users}}
                          <tr id="user-{{id}}">
                            <td scope="row" class="user-id">{{id}}</td>
                            <td class="user-username">{{username}}</td>
                            <td class="user-email">{{email}}</td>
                            <td class="user-name">{{name}}</td>
                            <td class="user-lastName">{{lastName}}</td>
                            <td class="user-address">{{address}}</td>
                            <td class="user-phone">{{mobileNumber}}</td>
                            <td class="user-birthdate">{{birthdate}}</td>
                            <td class="user-role">{{role}}</td>
                            <td><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAddEditUserData"
                                data-id="{{id}}" onclick="edit_user_load($(this).data('id'));"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                            <td><button data-id="{{id}}" onclick="deleteUser($(this).data('id'));" class="btn btn-primary" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                          </tr>
                          {{/users}}
                        </tbody>
                    </table>
                </div>
                
               
           		<meta id="max-pages" content="{{maxPages}}"/>
				
                <div class="row justify-content-start">
                	{{#hasNext}}
		            <div class="row p-2"><a id="more-btn" class="btn btn-outline-dark m-auto w-75 text-center fw-bold text-uppercase" onclick="more()">More</a></div>
		            {{/hasNext}}
                    <button class="btn btn-primary" id="button-add-user" type="button" data-bs-toggle="modal" data-bs-target="#modalAddEditUserData" style=" margin: 3px">Add User</button>
                </div>

                <!-- modal add / edit user data-->
                <div class="modal fade" id="modalAddEditUserData" tabindex="-1" role="dialog" aria-labelledby="modalAddEditUser" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalAddEditUser">Edit User Data</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="formUsers">
                                <div class="modal-body">
                                        <input type="hidden" id="mode" name="mode">
                                        <input type="hidden" id="editId" name="id">

                                        <div class="form-group">
                                            <label for="editUserName">Username *</label>
                                            <input type="text" class="form-control" id="editUserName" placeholder="Username" name="username" required>                
                                        </div>
                                        <div class="form-group">
                                            <label for="editPassword">Password *</label>
                                            <input type="password" class="form-control" id="editPassword" placeholder="Type new password" name="password">                
                                        </div>
                                        <div class="form-group">
                                            <label for="editEmail">E-mail *</label>
                                            <input type="text" class="form-control" id="editEmail" placeholder="e-mail" name="email" required>                
                                        </div>
                                        <div class="form-group">
                                            <label for="editName">First Name</label>
                                            <input type="text" class="form-control" id="editName" placeholder="First Name" name="name">                
                                        </div>
                                        <div class="form-group">
                                            <label for="editLastName">Last Name</label>
                                            <input type="text" class="form-control" id="editLastName" placeholder="Last Name" name="lastName">                
                                        </div>
                                        <div class="form-group">
                                            <label for="editAddress">Address</label>
                                            <input type="text" class="form-control" id="editAddress" placeholder="Address" name="address">                
                                        </div>
                                        <div class="form-group">
                                            <label for="editPhone">Phone Number</label>
                                            <input type="tel" class="form-control" id="editPhone" placeholder="Phone Number" name="mobileNumber">                
                                        </div>
                                        <div class="form-group">
                                            <label for="editBirthDate">Birth Date</label>
                                            <input type="text" class="form-control" id="editBirthDate" placeholder="Birth Date" name="birthdate">                
                                        </div>
                                        <div class="form-group">
                                            <label for="editRole">Role *</label>
                                            <select id="editRole" name="role" class="form-control" required>
                                                <option value="USER">USER</option>
                                                <option value="ADMIN">ADMIN</option>
                                            </select>                
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="dismiss-modal-users" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="saveButton" onclick="">Save</button>
                                </div>    
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
        </section>

        <script src="../js/manageUsers.js" defer></script>
{{>footer}}