{{>adminHeader}}
        <!-- Section-->
        <section class="py-5">
            <div class="container" id="manage-products-container">
                <!-- Table-->
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Size</th>
                            <th scope="col" class="d-none">Imgs</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#products}}
                          <tr id="product-{{id}}">
                            <td scope="row" class="product-id">{{id}}</td>
                            <td class="product-name">{{name}}</td>
                            <td class="product-description">{{description}}</td>
                            <td class="product-price">{{price}}</td>
                            <td class="product-stock">{{stock}}</td>
                            <td class="product-size">{{size}}</td>
                            <td class="product-imgs d-none">
                                {{#images}}
                                    <img src="{{.}}" class="d-none"/>
                                {{/images}}</td>
                            <td><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAddEditProductData"
                                data-id="{{id}}" onclick="edit_product_load($(this).data('id'));"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                            <td><button data-id="{{id}}" onclick="delete_product($(this).data('id'));" class="btn btn-primary" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                          </tr>
                          {{/products}}
                        </tbody>
                    </table>
                </div>
                
                <meta id="max-pages" content="{{maxPages}}"/>

                <div class="row justify-content-start">
                	{{#hasNext}}
		            <div class="row p-2"><a id="more-btn" class="btn btn-outline-dark m-auto w-75 text-center fw-bold text-uppercase" onclick="more()">More</a></div>
		            {{/hasNext}}
                    <button class="btn btn-primary" id="button-add-product" type="button" data-bs-toggle="modal" data-bs-target="#modalAddEditProductData">Add product</button>
                </div>

                <!-- modal add / edit product data-->
                <div class="modal fade" id="modalAddEditProductData" tabindex="-1" role="dialog" aria-labelledby="modalAddEditProduct" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalAddEditProduct">Edit Product Data</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="delete_img_fields_form();"></button>
                            </div>
                            <div class="modal-body">
                                <form id="formProducts">
                                        <input type="hidden" id="mode" name="mode">
                                        <input type="hidden" id="editId" name="id">

                                        <div class="form-group">
                                            <label for="editName">Name *</label>
                                            <input type="text" class="form-control" id="editName" placeholder="Name" name="name" required>                
                                        </div>
                                        <div class="form-group">
                                            <label for="editDescription">Description *</label>
                                            <input type="text" class="form-control" id="editDescription" placeholder="Description" name="description">                
                                        </div>
                                        <div class="form-group">
                                            <label for="editPrice">Price *</label>
                                            <input type="number" step="0.01" class="form-control" id="editPrice" name="price" required>                
                                        </div>
                                        <div class="form-group">
                                            <label for="editStock">Stock *</label>
                                            <input type="number" class="form-control" id="editStock" name="stock" required>                
                                        </div>
                                        <div class="form-group">
                                            <label for="editSize">Size *</label>
                                            <select id="editSize" name="role" class="form-control" required>
                                                <option value="XS">XS</option>
                                                <option value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>
                                                <option value="XL">XL</option>
                                            </select>                  
                                        </div>
                                        <div class="img-group">
                                            <div class="form-group">
                                                <label for="editImg1">Image #1 *</label>
                                                <input type="file" accept="image/*" class="form-control" id="editImg1" name="img1">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <i class="fa fa-plus" id="addImgIcon" data-lastimg="1"></i>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="dismiss-modal-products" data-bs-dismiss="modal" onclick="delete_img_fields_form();">Close</button>
                                <button type="submit" class="btn btn-primary" id="submit-modal-products">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </section>

        <script src="../js/manageProducts.js" defer></script>
{{>footer}}