{{>header}}
<div class="container softFont">
    <div class="card border-0 shadow rounded-3 align-items-center my-3 mx-10">
        <div class="row">
            <div class="col"><h1 class="advise-title">Not enough stock of the product:</h1></div>
        </div>
        {{#product}}
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-dark border-0 fs-3" href="/productView/{{id}}">{{name}}&emsp;Stock: {{stock}}</a>
            </div>
        </div>
        {{/product}}
        <div class="row">
            <div class="col card-body"><a class="btn btn-outline-dark text-uppercase fw-bold" href="/cart">Return to Cart</a></div>
        </div>
        <div class="row">
            <div class="col card-body"><a class="btn btn-outline-dark text-uppercase fw-bold" href="/">Return to Main Page</a></div>
        </div>
    </div>
</div>
{{>footer}}