{{>header}}


<div id="purchases-container" class="container" xmlns="http://www.w3.org/1999/html">
            <nav class="nav nav-borders" style="margin-top: 3vh;">
                <a class="nav-link ms-0" href="/userProfile">Profile</a>
                <a class="nav-link active ms-0" href="/purchaseHistory">Orders</a>
            </nav>
            <hr class="mt-0 mb-4">
            {{#purchaseHistory}}
            <div class="card mb-4 shadow-sm purchase-box">
                <div class="card-header">
                    <h3 class="softFont">Order ID: {{id}}</h3>
                    <h5 class="softFont">Date: {{date}}</h5>
                    <h4 class="softFont">Status: {{type}}</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody id="purchase-{{id}}" class="cart">
                        {{#transactionEntries}}
                        <tr>
                            <td>#{{-index}}</td>
                            <td style="padding: 0;">
                                <a class="btn border-0" href="/productView/{{product.id}}">{{product.name}} ({{product.size}})</a>
                            </td>
                            <td>{{quantity}} x ${{product.price}}</td>
                            <td class="text-right">${{totalPrice}}</td>
                        </tr>
                        {{/transactionEntries}}
                        {{#coupon}}
                        <tr>
                            <td></td>
                            <td class="text-right">Discount coupon "{{code}}":</td>
                            <td></td>
                            <td class="text-right">-${{discount}}</td>
                        </tr>
                        {{/coupon}}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">Total: </td>
                            <td class="text-right"><strong class="total">${{totalPrice}}</strong></td>
                        </tr>
                        </tfoot>
                        
                    </table>
                </div>
            </div>
                       
            {{/purchaseHistory}}

            {{#hasNext}}
            <div class="row p-2"><a id="more-btn" class="btn btn-outline-dark m-auto w-75 text-center fw-bold text-uppercase" onclick="more()">More</a></div>
            {{/hasNext}}
            <meta id="max-pages" content="{{maxPages}}"/>
        </div>
<script src="js/purchaseHistory.js"></script>
{{>footer}}