{{>header}}
        <div class="card mb-4 shadow-sm" style="border: 1px solid rgba(114, 114, 114, 0.26); margin: 30px; border-radius: 5px;">
            <div class="card-header">
                <h2 class="softFont">Wish List</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody class="cart">
                    <tr>
                        <td>#1</td>
                        <td>Leather Jacket</td>
                        <td class="text-right">$18</td>
                        <td class="text-right"><button class="btn btn-outline-dark text-uppercase fw-bold" onclick="">Buy</button></td>
                        <td class="text-right"><button class="btn btn-outline-dark text-uppercase fw-bold" onclick="">Delete</button></td>
                    </tr>
                    <tr>
                        <td>#2</td>
                        <td>Softcoat</td>
                        <td class="text-right">$49.99</td>
                        <td class="text-right"><button class="btn btn-outline-dark text-uppercase fw-bold" onclick="">Buy</button></td>
                        <td class="text-right"><button class="btn btn-outline-dark text-uppercase fw-bold" onclick="">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
{{>footer}}