{{>header}}

    <div class="card mb-4 shadow-sm" style="border: 1px solid rgba(114, 114, 114, 0.26); margin: 30px; border-radius: 5px;">
        <div class="card-header">
            <div class="row">
                <div class="col-11"><h2 class="softFont">Wish List</h2></div>
                <div class="col-1">
                    <button class="btn btn-outline-dark fa-solid fa-trash" onclick="empty()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody class="cart">
                {{#wishlist}}
                {{#transactionEntries}}
                <tr id="product_{{product.id}}" class="product-row">
                    <td class="cart-text product-index">#{{-index}}</td>
                    {{#product}}
                    <td>
                        <a class="btn border-0" href="/productView/{{id}}">{{name}}</a>
                    </td>
                    <td class="cart-text text-right product-price">${{price}}</td>
                    <td><button class="btn btn-outline-dark text-uppercase fw-bold" onclick="buy({{id}})" type="button">Buy</button></td>
                    <td><button class="btn btn-outline-dark text-uppercase fw-bold" onclick="deleteFromWishlist({{id}})" type="button">Remove</button></td>
                    {{/product}}
                </tr>
                {{/transactionEntries}}
                {{/wishlist}}
                </tbody>
            </table>
        </div>
    </div>
    <script src="js/wishlist.js"></script>

{{>footer}}